:root {
    --dark-blue: #1d3557;    
    --red: #e63946;
    --sky-blue: #457b9d;
    --light-blue: #asdadc;
    --blue-tinted-white: #f1faee;
}

body {
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.menu {
    z-index: 1;
    background-color: var(--dark-blue);
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

#banner {
    background-color: var(--dark-blue);
    margin: 0;
    height: 58vh;
    width: 100vw;
}

h1 {
    font-size: 152px;
    color: var(--blue-tinted-white);
    margin: 0;
    padding-top: 5vh;
    font-family: 'Bree Serif', serif;
    font-weight: normal;
    margin-left: 5vw;
}

#page-title {
    transform: translateY(8vh);
}

h4 {
    font-size: 22px;
    color: var(--blue-tinted-white);
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    margin-left: 20vw;
}

#slogan {
    display: inline-block;
    transform: translateY(8vh);
}

#lower {
    margin-left: 25vw !important;
}

#article {
    float: right;
    display: inline-block;
    width: auto;
    height: 50vh;
}

#img-cont {
    height: 30vh;
    overflow: hidden;
    /*margin-right: 10vw;*/
    float: right;
    display: inline-block;
    position: absolute;
    top: 28vh;
    right: 10vw;
}

#menu-icon {
    height: 6vh;
    width: auto;
    padding-top: 1vh;
    margin-left: 5vw;
    display: inline-block;
}

#menu-text {
    margin-left: 10px;
    display: inline-block;
    font-size: 30px;
    transform: translateY(-50%);
    font-family: 'Bree Serif', serif;
}

#stats-icon {
    display: inline-block;
    float: right;
    width: auto;
    height: 6vh;
    margin-right: 13px;
    margin-top: 8px;
}

.stats-red {
    display: inline-block;
    background-color: var(--red);
    float: right;
    margin-right: 5vw;
    width: 83px; 
    height: 8vh;
}

button#download {
    background-color: var(--red);    
    border-radius: 7px;
    width: 20vw;
    height: 14vh;
    margin-top: 10vh;
    border: none;
    font-family: 'Bree Serif', serif;
    color: var(--blue-tinted-white);
    font-size: 50px;
    box-shadow: 0px 5px 5px 0px #00000077;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-right: 0;
}

button#download:hover {
    cursor: pointer;
}

button#download:active {
    transform: translateX(-50%) translateY(5px) !important;
}

button#down {
    background-color: var(--sky-blue); 
    border-radius: 100px;
    width: 10vh;
    height: 10vh;
    margin-top: 5vh;
    border: none;
    box-shadow: 0px 5px 5px 0px #00000077;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-right: 0;
}

.arrow {
    text-align: center;    
    transform: translateX(-50%) translateY(-10vh);
    margin-left: 50%;
}

.front-page-text {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 5vw;
    width: 90vw;
    margin-right: 0 !important;
    overflow-x: hidden;
}

.front-page-text * {
    margin-right: 0 !important;
}

h2.left {
    font-family: 'Bree Serif', serif;
    color: var(--dark-blue);
    font-size: 60px;
}

p.left {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: 300;
}

h2.right {
    font-family: 'Bree Serif', serif;
    color: var(--dark-blue);
    text-align: right;
    font-size: 60px;
}

p.right {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: 300;
    text-align: right;
}

.blue-images {
    width: 20vw;
    height: auto; 
    margin-left: 50%;
    margin-top: 30%;
    transform: translateX(-50%) translateY(-50%);
}

#footer {
    background-color: var(--dark-blue);
    height: 500px;
}

#github {
    width: 5vw;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 330px;
}

#footer-text {
    text-align: center;
    font-size: 18px;
    color: var(--blue-tinted-white);
    font-family: 'Source Sans Pro', sans-serif;
}
